---
import Membre from './MembresGrid.astro';

// Import the WordPressTeamMember interface from MembresGrid.astro
interface WordPressTeamMember {
  title: string;
  featuredImage?: {
    node?: {
      mediaItemUrl?: string;
      altText?: string;
    };
  };
  social: {
    facebook?: string;
    instagram?: string;
    linkedin?: string;
    twitter?: string;
  };
  fonctions?: {
    equipe?: string;
    fonction?: string;
  };
}

export interface Props {
  team: Array<WordPressTeamMember>;
}

const { team } = Astro.props;
---

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 ml-20 mr-20">
  {team.map((membre) => <Membre member={membre} />)}
</div>
